
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/ptsans-400.woff2) format("woff2");
  font-display: swap;
  }

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url(/fonts/ptsans-700.woff2) format("woff2");
  font-display: swap;
  }

  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

html {
  height: 100%;
  width: 1280px;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  }

  .main-container {
    flex-grow: 1;
  }

  .page-header-logo {
    width: 139px;
    height: 70px;
    margin-right: 30px;
    margin-left: 70px;
  }

  .navigation {
    display: flex;
    width: 1200px;
    margin: 0 auto;
  }

  .navigation-list {
    width: 390px;
    margin: 0;
    padding: 0;
  }

  .navigation-user {
    max-width: 264px;
    margin-left: auto;
  }

  .page-container {
    width: 1200px;
    margin: 0 auto;
  }

  .logo {
    display: block;
    margin: 0 auto;
  }

  .advantages-list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
  }

  .real-city-items {
    display: flex;
  }
  .real-city-container, .devil-bridge-container {
    display: flex;
  }

.navigation-link {
  font-family: "PT Sans", sans-serif;
  color: #000000;
  background-color: #FFFFFF;
  font-style: 700;
  font-size: 20px;
  line-height: 26px;
  text-align: left;
  text-decoration: none;
  }

.navigation-button {
  font-family: "PT Sans", sans-serif;
  color: #FFFFFF;
  font-style: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}

.wellcome-container {
  background-image: url("/images/main/index-background.jpg");
  background-color: #82B3D3;
  background-size: 100% auto;
  background-repeat: no-repeat;
  height: 485px;
  }

.advantages-title {
  text-align: center;
  }

.tagline {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  width: 620px;
  height: 72px;
  margin: 0 auto;
  }

.advantages-caption {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  width: 654px;
  height: 26px;
  margin: 0 auto;
  }

.advantages-list {
  text-align: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.real-city, .devil-bridge {
  background-color: #82B3D3;
  color: #FFFFFF;
  width: 400px;
  height: 384px;
}

.real-city .advantages-head, .devil-bridge .advantages-head {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.advantages-benefits {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.advantages-benefits-description {
  color: #333333;
}

.city-item {
  width: 400px;
  height: 384px;
}

.city-item-gray {
  background-color: rgba(131, 179, 211, 0.12);
  width: 400px;
  height: 384px;
}

.city-item-darkgray {
  background-color: rgba(131, 179, 211, 0.2);
  width: 400px;
  height: 384px;
}

.text {
  width: 230px;
  margin: 0 auto;
}

.hotel-search, .newsletter {
  text-align: center;
}

.hotel-search-question {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  width: 297px;
  height: 36px;
  margin: 0 auto;
  margin-top: 91px;
  margin-bottom: 29px;
}

.hotel-search-description {
  color: #333333;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  width: 592px;
  height: 52px;
  margin: 0 auto;
  margin-bottom: 56px;
}

.hotel-search-button, .newsletter-button {
color: #FFFFFF;
font-size: 20px;
line-height: 36px;
font-weight: 700;
text-transform: uppercase;
text-align: center;
}

.hotel-search-button {
background-color: #756157;
width: 574px;
height: 60px;
border-radius: 4px;
border-width: 0;
margin-bottom: 93px;
}

.newsletter {
  background-image: url("/images/main/newsletter-background.jpg");
  background-color: #82B3D3;
  background-size: 100% auto;
  background-repeat: no-repeat;
  height: 411px;
}

.newsletter-head {
  color: #FFFFFF;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.newsletter-description {
  color: #FFFFFF;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
}

.contacts-phone {
  color: #000;
  font-style: normal;
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
}



.inner-header {
  background-image: url("/images/catalog/catalog-background.jpg");
  background-color: #82B3D3;
  background-size: 100% auto;
  background-repeat: no-repeat;
  width: 1200px;
  height: 403px;
}

.inner-header-title {
  color: #FFFFFF;
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: left;
}

.breadcrumbs-link {
  color: #FFFFFF;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  text-decoration: none;
  text-align: left;
}

.catalog-filter-title {
  color: #FFFFFF;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-align: left;
}

.control {
  color: #FFFFFF;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  text-align: left;
}

.button-apply {
  color: #FFFFFF;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.button-reset {
  color: #FFFFFF;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
}

.search-result {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: left;
  text-transform: uppercase;
  width: 500px;
  height: 37px;
  padding: 0;
  margin: auto 191px auto 0;
}

.select-control, .select-control-price {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  text-align: left;
}

.hotel-card-link {
  color: #000;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-align: left;
  text-decoration: none;
}

.hotel-type, .hotel-card-price {
  color: #333333;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  text-align: left;
}

.hotel-card-more-link, .hotel-card-favorites-button {
  color: #FFFFFF;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
}

.rating {
  color: #333333;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-align: left;
  text-transform: uppercase;
}

.pagination-link {
  color: #FFFFFF;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  background-color: #82B3D3;
}

.pagination-current {
  color: #333333;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  background-color: #F2F2F2;
}

.card-amount-title, .select-control {
  color: #333333;
  text-align: left;
}

.newsletter-inner {
  text-align: center;
}

.newsletter-head-inner {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.newsletter-description-inner {
  color: #333333;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
}

.newsletter-button {
  color: #FFFFFF;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.page-footer-container {
  display: flex;
  width: 1200px;
  height: 120px;
  margin: 0 auto;
}

.footer-social-list {
  width: 142px;
  height: 40px;
  margin: 0;
  padding: 0;
  margin-left: 70px;
  margin-right: 236.5px;
}

.footer-contacts {
  width: 331px;
  height: 40px;
  margin: 0;
  padding: 0;
  margin-right: 235.5px;
}

.htmlacademy-link {
  width: 115px;
  height: 33px;
  margin: 0;
  padding: 0;
}

.catalog-filter {
  display: flex;
  margin: 0 auto;
}

.button-container {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  width: 518px;
  height: 149px;
  margin-right: 0;
}

.inner-header-container {
  width: 1060;
  height: 298;
  padding: 0;
  margin: 35px 70px 70px 70px;
}

.catalog-filter-item {
  padding: 0;
  margin: 0;
}

.infrastracture {
width: 150px;
height: 149px;
margin-left: 0;
margin-right: 70px;
}

.hotel-type {
  width: 145px;
  height: 149px;
  }

  .price-filter {
    width: 288px;
    height: 149px;
    margin-right: 70px;
  }

.price-filter-buttons {
  width: 161px;
  height: 88px;
  margin: 60px 0 0 0;
}

.search-results {
  display: flex;
  margin: o auto;
  width: 1057px;
  height: 49px;
}

.select-control-price {
  width: 290px;
  height: 49px;
  margin: o;
  padding: 0;
  margin-right: 78px;
}

.hotel-cards-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 1056px;
  height: 856px;
}

.hotel-card-item-container {
  width: 340px;
  height: 438px;
}

.hotel-card-item {
margin: 0;
padding: 0;
}

.pagination-item {
  display: inline;
  padding: 0;
  margin: 0;
}

.pagination-container {
  display: flex;
  margin: 0 auto;
  width: 1056px;
  height: 60px;
}

.pagination {
  width: 400px;
  height: 60px;
  margin-right: 270px;
}

.card-amoun {
  width: 386px;
  height: 49px;
  margin: 0;
  padding: 0;
}
